:root {
  --green-500: hsl(171, 66%, 44%);
  --blue-100: hsl(233, 100%, 69%);
  --gray-700: hsl(210, 10%, 33%);
  --gray-500: hsl(201, 11%, 66%);
  --font-size: 18px;
  --font-family: "Bai Jamjuree", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 200px;
  align-items: center;
  padding: 50px 20px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
}
.hero-logo {
  width: 50px;
}
.hero-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-title {
  font-size: 42px;
  color: var(--gray-700);
  text-align: center;
}
.hero-description {
  color: var(--gray-500);
  text-align: center;
}
.hero-buttons {
  display: flex;
  gap: 20px;
}
.btn {
  padding: 20px 40px;
  border: none;
  border-radius: 32px;
  color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
.btn-ios {
  background-color: var(--green-500);
}
.btn-mac {
  background-color: var(--blue-100);
}

.features-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
.features-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 660px;
}
.features-title {
  font-size: 32px;
  color: var(--gray-700);
  text-align: center;
}
.features-description {
  color: var(--gray-500);
  text-align: center;
}
.features-main {
  display: flex;
  gap: 100px;
  align-items: center;
  position: relative;
  left: -120px;
}
.features-image {
  width: 800px;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.feature-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 380px;
}
.feature-title {
  font-size: 24px;
  color: var(--gray-700);
}
.feature-text {
  color: var(--gray-500);
}

.access-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 650px;
}
.access-title {
  font-size: 32px;
  color: var(--gray-700);
  text-align: center;
}
.access-description {
  color: var(--gray-500);
  text-align: center;
}
.devices-image {
  width: 800px;
}

.workflow-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 660px;
}
.workflow-title {
  font-size: 32px;
  color: var(--gray-700);
  text-align: center;
}
.workflow-description {
  color: var(--gray-500);
  text-align: center;
}
.workflow-features {
  display: flex;
  gap: 20px;
  align-items: center;
}
.workflow-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 380px;
}
.workflow-icon {
  width: 40px;
}
.workflow-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.workflow-item-title {
  font-size: 24px;
  color: var(--gray-700);
}
.workflow-item-description {
  color: var(--gray-500);
  text-align: center;
}

.brands {
  display: flex;
  gap: 80px;
  align-items: center;
}
.brand-logo {
  width: 120px;
}

.cta-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 670px;
}
.cta-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.cta-title {
  font-size: 32px;
  color: var(--gray-700);
}
.cta-description {
  color: var(--gray-500);
  text-align: center;
}
.cta-buttons {
  display: flex;
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 50px;
  background-color: rgb(245, 245, 245);
  margin: 0 -20px;
  align-items: center;
}
.footer-left {
  display: flex;
  gap: 80px;
  align-items: center;
}
.footer-logo {
  width: 30px;
}
.footer-links {
  display: flex;
  gap: 50px;
}
.footer-links-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-link {
  color: var(--gray-500);
  cursor: pointer;
}
.footer-link:hover {
  color: var(--green-500);
}
.footer-socials {
  display: flex;
  gap: 20px;
}
.social-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.social-icon:hover {
  
}
